* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100vh;
    height: 100dvh;

    font-family: sans-serif;

    color-scheme: dark;

    color: white;
    background-color: #131313;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #9d4141;
    margin: 7px;
    transition: all .3s;
    z-index: 99;
}

.burger {
    z-index: 99;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    background-color: #2b2b2b;
    /* position: sticky;
    top: 0; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-button {
    color: white;
    text-decoration: none;
}

.ul-navbar {
    display: flex;
    padding: 0 auto;
    margin: 0;
    gap: 0.25rem;
}

.li-navbar {
    display: flex;
    list-style: none;
}

.a-navbar {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.1rem;

    transition: color 400ms;
}

.a-navbar:hover {
    color: #d43200;
    border-radius: 1rem;
}

.heading {
    width: 100%;
    text-align: center;
}

p {
    color: white;
}

.galery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px 00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

.image:hover {
    filter: grayscale(1);
    transform: scale(1.03);
}
